<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table>
    <tr>
<!--        <th>학년</th><th>반</th> <th>번호</th> -->
        <th>점수</th><th>설명</th>
    </tr>
    <tr>
<!--        <td><p th:text="${result.grade}"></p></td>-->
<!--        <td><p th:text="${result.cls}"></p></td>-->
<!--        <td><p th:text="${result.num}"></p></td>-->
        <td><p th:text="${result.score}"></p></td>
        <td><p th:text="${result.description}"></p></td>
    </tr>
    <script src="/result.js"></script>
</table>
</body>
</html>