<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>select subject</title>
</head>
<body>
<table>
    <tr>
        <th>시험이름</th> <th>업로드일</th> <th>선택</th>
    </tr>
    <tr th:each="result : ${results}">
        <td><p th:text="${result.fileName}"></p></td>
        <td><p th:text="${#temporals.format(result.createTime, 'yy/MM/dd ahh:mm')}"></p></td>
        <td>
            <p th:text="${result.id}"> </p>
            <a th:href="@{'/results/'+${result.id}}">선택</a>
        </td>
    </tr>
    <script src="/result.js"></script>
</table>
</body>
</html>